* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

.canvas {
    background: hsl(0, 0%, 90%);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    position: relative;
  }

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
              "bear alien alien monkey monkey"
              "bear alien alien monkey monkey"
              "dino dino dino monkey monkey"
              "dino dino dino robot robot"
              "dino dino dino robot robot";
    gap: 1.5em;
    margin: 1em;
}

  .frame {
    padding: 2em;
    background: #fff;
    display: grid;
    place-content: center;
    border: 2rem solid #212529;
    filter: drop-shadow(0 0 6px hsl(0, 0%, 0%));

    &.bear {
      grid-area: bear;
    }

    &.alien {
      grid-area: alien;
    }

    &.robot {
      grid-area: robot;
    }

    &.monkey {
      grid-area: monkey;
    }

    &.dino {
      grid-area: dino;
    }

    i {
      font-size: 15vmin;
      text-align: center;

      &.fa-robot {
        color: #999;
      }

      &.fa-alien {
        color: #95ff7d;
      }

      &.fa-paw {
        color: #5c452f;
      }

      &.fa-monkey {
        color: #ff7b00;
      }

      &.fa-paw-claws {
        color: #8EC0DB;
      }
    }
  }