* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

.canvas {
    background: hsl(0, 0%, 25%);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .circle {
    width: 70vmin;
    height: 70vmin;
    background: #ffffff;
    border-radius: 95% 5% 87% 13% / 13% 78% 22% 87%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    > div {
      display: flex;
      gap: 2em;
      margin-top: 5vmin;

      i {
        font-size: 15vmin;

        &.fa-robot {
          color: #999;
        }

        &.fa-alien {
          color: #95ff7d;
        }
      }
    }
  }