@mixin frame {
  background-color: Hsl(60deg 18% 20%);
  border: solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);

  &:before,
  &:after {
    content: '';
    position:absolute;
  }

  &:before {
    bottom: -2vmin;
    left: -2vmin;
    right: -2vmin;
    top: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25) inset;
  }

  &:after {
    bottom:-2.5vmin;
    left:-2.5vmin;
    right:-2.5vmin;
    top:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

.canvas {
    background: hsl(0, 0%, 90%);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.gallery {
    display: grid;
    grid-template-columns: 250px;
    grid-template-areas: 
              "bear"
              "alien"
              "dino"
              "tree"
              "monkey"
              "robot";
    gap: 1.5em;
    margin: 1.5em;

    @media(min-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
                "bear alien"
                "monkey alien"
                "monkey dino"
                "robot dino"
                "robot dino"
                "tree tree";
    }

    @media(min-width: 1100px) {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas: 
                "bear alien alien monkey monkey tree"
                "bear alien alien monkey monkey tree"
                "dino dino dino monkey monkey tree"
                "dino dino dino robot robot tree"
                "dino dino dino robot robot tree";
      gap: 3em;
    }

    @media(min-width: 1500px) {
      grid-template-areas: 
                "monkey monkey bear tree tree tree"
                "monkey monkey bear tree tree tree"
                "dino dino dino tree tree tree"
                "dino dino dino alien robot robot"
                "dino dino dino alien robot robot";
    }

    @media(min-width: 1800px) {
      width: 90vw;
      gap: 5em;
    }

    div {
        padding: 2em;
        background: #fff;
        display: grid;
        place-content: center;
        border: 2rem solid #212529;
        filter: drop-shadow(0 0 6px hsl(0, 0%, 0%));
        cursor: pointer;
    
        &.bear {
            grid-area: bear;
            color: #5c452f;
        }
      
        &.alien {
            grid-area: alien;
            color: #95ff7d;
        }
      
        &.robot {
            grid-area: robot;
            color: #999;
        }
      
        &.monkey {
            grid-area: monkey;
            color: #ff7b00;
        }
      
        &.dino {
            grid-area: dino;
            color: #8EC0DB;

            @include frame;
        }

        &.tree {
          grid-area: tree;
          color: #4E9A06;

          @include frame;
        }
    
        i {
          font-size: 15vmin;
          text-align: center;
        }
    }
}

