@import 'modules/reset';
@import 'modules/header';

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;

    background: conic-gradient(from -90deg at bottom center, rgb(255, 255, 255), peachpuff);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    width: 95vw;
    height: 92vh;
    border: 5px solid #212529;
    background: conic-gradient(from 0.15turn at top right, #000, #8bb7b7);
}

h1 {
    @include header(rgb(255, 255, 255), hsl(120, 100%, 86%));
  }

h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    padding: 1em;
}

.item {
    width: 10vw;
    height: 10vh;
    border: 3px dashed #ecae28;
}