@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
body, html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: var(--color-pink);
}

h1,
h2,
h3,
h4,
h5 p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

a, a:hover {
  text-decoration: none;
}

.flow-content > * + * {
  margin-top: 2rem;
}

li {
  list-style-type: none;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}
body > div {
  border: 2px solid #212529;
}
body > div.height-3 {
  grid-row: 1/span 3;
}
body > div.width-2 {
  grid-column: 2/span 2;
}
body > div.height-2 {
  grid-row: 2/span 2;
  grid-column-start: 4;
}
body > div.red {
  background: red;
}
body > div.yellow {
  background: yellow;
}
body > div.green {
  background: green;
}