body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
  background: linear-gradient(0deg, #ffb56b, #1f005c); }

a {
  text-decoration: none; }

nav {
  width: 50vw; }
  nav.top, nav.bottom {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 800px) {
      nav.top, nav.bottom {
        justify-content: center;
        gap: 1rem; } }
  nav.top {
    margin-bottom: 1rem; }
  nav.bottom {
    margin-top: 1rem; }
    @media (min-width: 800px) {
      nav.bottom {
        display: none; } }
  nav i {
    background: linear-gradient(45deg, #fff, #870160);
    font-size: 5rem;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s ease; }
    nav i:hover {
      background-position: right; }

main {
  display: flex; }
  main nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 7.5rem; }
    @media (max-width: 800px) {
      main nav {
        display: none; } }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75vw;
  height: 50vh;
  border: 10px dashed #5500ff;
  border: 10px dashed #fff;
  box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
  background: #1f005c; }
  .container div {
    width: 150px;
    height: 150px;
    background: #212529;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    transform: scale(1.1); }
    .container div > div {
      position: relative;
      top: -2px;
      transform: scale(0.85);
      background: #fff;
      clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); }
  @media (min-width: 768px) {
    .container {
      width: 50vw; } }

p {
  background: radial-gradient(circle at 50% 50%, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 300%;
  background-position: left;
  color: transparent;
  animation: gradient 2s ease-in-out infinite alternate;
  font-size: 5rem;
  font-weight: 700;
  margin: -25px 0 0; }

@keyframes gradient {
  to {
    background-position: right; } }
