@import 'modules/reset';
@import 'modules/colors';
@import 'modules/breakpoints';
@import 'modules/header';

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    font-family: system-ui, sans-serif;
}

    h1 {
        @include header(rgb(255, 255, 255), #3269de);
    }

    h2 {
        font-size: 1.25em;
        color: hsla(0, 0, 0, 0.6);
    }
    
    #grid {
        margin: 1em 1.5em 1.5em;
        width: 75vw;
        padding: 4em;
        background: radial-gradient(closest-side, #f69d3c, #ebf8e1, #00334896);
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: repeat(auto-fit, 140px);
        grid-template-rows: repeat(auto-fit, 250px);
        box-shadow: 0 0 13px 3px rgba(0, 0, 0, 75%);
        
        @media(max-width: $bp-xs) {
            background: linear-gradient(90deg, rgba(252, 204, 69, 1) 0%, rgba(176, 116, 217, 1) 100%);
        }
    
        > * {
            box-shadow: 7px 7px 6px hsla(0, 0%, 0%, 0.5);
            overflow: hidden;
            transition: all 0.2s ease-in-out;
            height: 250px;
    
            &:hover {
                transform: scale(1.1) rotate(-5deg);
                box-shadow: 10px 10px 9px hsla(0, 0%, 0%, 0.25);
            }
        }
    }

img {
    max-width: 100%;
}
