@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
body, html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: var(--color-pink);
}

h1,
h2,
h3,
h4,
h5 p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

a, a:hover {
  text-decoration: none;
}

.flow-content > * + * {
  margin-top: 2rem;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  gap: 1.5em;
  text-align: center;
  padding: 1em;
  background: #fcfcfc;
  display: grid;
  grid-template-areas: "header header header" "nav main aside" "footer footer footer";
  grid-auto-columns: 30ch 1fr 30ch;
  grid-auto-rows: 125px 1fr 100px;
}
@media (max-width: 992px) {
  body {
    grid-template-areas: "header header" "nav aside" "main main" "footer footer";
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: 100px 1fr 1fr 100px;
    gap: 0.25em;
  }
}
@media (max-width: 600px) {
  body {
    grid-template-areas: "header" "nav" "main" "aside" "footer";
    grid-auto-columns: 1fr;
    grid-auto-rows: 100px 1fr 1fr 1fr 100px;
  }
}
body h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 6vmax;
}
body h2 {
  font-family: "Major Mono Display", monospace;
  font-size: 4rem;
}
body > * {
  display: grid;
  place-content: center;
  gap: 1em;
  background: rgba(160, 131, 131, 0.13);
  border: 3px solid #212529;
  transition: transform 0.1s ease-in;
}
body > * i {
  font-size: 8em;
  --fa-primary-opacity: 1;
  --fa-secondary-opacity: 1;
}
body > *:hover {
  transform: scale(1.025);
}
body header {
  grid-area: header;
  background: #58b3f3;
}
body nav {
  grid-area: nav;
  grid-auto-columns: 30ch;
  background: #00ffaa;
}
body nav i {
  --fa-primary-color: #f7b74b;
  --fa-secondary-color: hsl(0deg 100% 67%);
}
body main {
  grid-area: main;
  background: #85ff89;
}
body aside {
  grid-area: aside;
  grid-auto-columns: 30ch;
  background: #ff9a52;
}
body aside i {
  --fa-primary-color: #795548;
  --fa-secondary-color: hsl(50deg 100% 86%);
}
body footer {
  grid-area: footer;
  grid-auto-flow: column;
  align-items: center;
  background: #ffff57;
}
body footer i {
  font-size: 5em;
  --fa-primary-color: #F71D1B;
  --fa-secondary-color: #F7C45D;
}

figure {
  font-family: "Karla", sans-serif;
  margin: 0 3em;
  font-size: 1.3em;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  transition: transform 0.1s ease-in;
}
figure:hover {
  transform: rotate(-2deg);
}
figure,
figure figcaption {
  border-radius: 98% 2% 98% 2%/19% 77% 23% 81%;
}
figure figcaption {
  background: #fcfcfc;
  color: #242529;
  border: 5px solid #212529;
  padding: 2.5em;
}

script {
  display: none;
}