@import 'modules/reset';
@import 'modules/colors';
@import 'modules/header';

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Mosk-bold", sans-serif;
    color: var(--color-white);
    background: linear-gradient(9deg, rgba(98,9,69,1) 0%, rgba(53,58,62,1) 100%);
}

.container {
    position: relative;
    width: 75vw;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: masonry;
    padding: 1em;
    background: linear-gradient(38deg, rgba(230,115,0,1) 0%, rgba(0, 130, 255, 1) 100%);
    box-shadow: 2px 3px 13px 5px rgba(255,255,255,0.26);
    margin-top:2em;
}

h1 {
    @include header(rgb(255, 255, 255), rgba(230, 115, 0, 1));
}

h2 {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    color: #fff;
    padding: 1rem;
}

figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;

    > img {
        grid-row: 1 / -1;
        grid-column: 1;
    }

    a {
        color: #000;
        text-decoration: none;
    }
}

figcaption {
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(255,255,255,0.5);
    padding: .6em 1em;
    justify-self: start;
    border-top-right-radius: 50%;
}