body, html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: var(--color-pink);
}

h1,
h2,
h3,
h4,
h5 p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

a, a:hover {
  text-decoration: none;
}

.flow-content > * + * {
  margin-top: 2rem;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "Frankfurter";
  src: url("/fonts/Frankfurter-Std-Regular.otf");
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  background: #212529;
}

.container {
  width: 90vw;
  border: 5px solid #fff;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  background: radial-gradient(circle at top left, #96e9c6 0%, #28bd7f 25%, #0d3f2a 100%);
  box-shadow: rgba(255, 255, 255, 0.56) 0 22px 70px 4px;
}

h1 {
  font-family: Frankfurter;
  font-size: 4rem;
  background: linear-gradient(0.9turn, white, white, white);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1.5px #000;
  text-stroke: 1.5px #000;
  color: transparent;
  line-height: 1;
  letter-spacing: 5px;
  z-index: 2;
  margin: 1rem 1rem 0;
}
@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
    letter-spacing: 2px;
    margin-bottom: 3rem;
    transform: rotate(355deg) translateY(40px);
  }
}
@media (min-width: 768px) {
  h1 {
    transform: rotate(0deg) translateY(0);
    margin: 0 0 1rem 0;
    font-size: 4rem;
    letter-spacing: 1.5vw;
  }
}
h1 .year {
  color: #000;
  -webkit-text-stroke: 1.5px #fff;
  text-stroke: 1.5px #fff;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 5fr 4fr 3fr 2fr 1fr 1fr;
  grid-template-areas: "one one one one one" "two two two three three" "four four five five five" "six six six seven seven" "eight eight eight eight eight" "nine nine nine ten ten";
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 3fr 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 4fr) repeat(4, 1fr);
    grid-template-areas: "one two four four" "one two five seven" "one three five eight" "one three six eight" "one three six nine" "one three six ten";
  }
}
.grid > div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 2rem;
  border: 2.5px solid white;
  background: no-repeat center/cover;
  filter: contrast(50%);
  cursor: pointer;
  transition: all 0.5s ease;
}
.grid > div .details {
  display: flex;
  gap: 0.5rem;
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: translateX(-1px);
  transition: all 0.5s ease;
}
.grid > div .details .rank {
  background-color: rgba(255, 255, 255, 0.75);
  width: 50px;
  height: 25px;
  border-bottom-right-radius: 5px;
  transition: all 0.5s ease;
}
.grid > div .details .title {
  opacity: 0;
  color: #fff;
  transition: all 0.5s ease;
}
.grid > div:hover {
  filter: contrast(100%);
  background-position: bottom;
}
.grid > div:hover .details {
  background: rgba(0, 0, 0, 0.2);
}
.grid > div:hover .details .rank {
  border-radius: 10px;
  width: 75px;
}
.grid > div:hover .details .title {
  opacity: 1;
  border-top: 2px solid rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
}
.grid > div:not(.narrow):hover .details {
  transform: translate(18%, 100%);
}
.grid > div.one {
  grid-area: one;
  background-image: url(/images/movies/2020/1.jpg);
}
.grid > div.two {
  grid-area: two;
  background-image: url(/images/movies/2020/2.jpg);
}
.grid > div.three {
  grid-area: three;
  background-image: url(/images/movies/2020/3.jpg);
}
.grid > div.four {
  grid-area: four;
  background-image: url(/images/movies/2020/4-2.jpg);
}
.grid > div.five {
  grid-area: five;
  background-image: url(/images/movies/2020/5.jpg);
}
.grid > div.six {
  grid-area: six;
  background-image: url(/images/movies/2020/6.jpg);
}
.grid > div.seven {
  grid-area: seven;
  background-image: url(/images/movies/2020/7.jpg);
}
.grid > div.eight {
  grid-area: eight;
  background-image: url(/images/movies/2020/8.jpg);
}
.grid > div.nine {
  grid-area: nine;
  background-image: url(/images/movies/2020/9-2.jpg);
}
.grid > div.ten {
  grid-area: ten;
  background-image: url(/images/movies/2020/10.jpg);
  max-height: 2rem;
}