* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas {
    background: #0060B8;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .circle {
    width: 85vmin;
    height: 85vmin;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

.block {
    position: relative;
    width: 40vmin;
    height: 40vmin;
    background: #FFD503;
    border: 15px solid #000;
    border-radius: 20px;

    &:before, 
    &:after {
        position: absolute;
        content: '';
    }

    &:before {
        width: 2.5vmin;
        height: 2.5vmin;
        top: 1vmin;
        left: 1vmin;
        background: #B48E0E;
        border: 10px solid #000;
        border-radius: 50%;
        box-shadow:
            28.6vmin 0 0 -9px #b48e0e,
            28.6vmin 0 0 0px #000;
    }

    &:after {
        width: 2.5vmin;
        height: 2.5vmin;
        bottom: 1vmin;
        left: 1vmin;
        background: #B48E0E;
        border: 10px solid #000;
        border-radius: 50%;
        
        box-shadow:
            28.6vmin 0 0 -9px #b48e0e,
            28.6vmin 0 0 0px #000;
    }
}