@import 'modules/reset';
@import 'modules/breakpoints';
@import 'modules/header';

body {
    display: grid;
    flex-direction: column;
    place-items: center; 
    text-align: center;
    font-family: system-ui, sans-serif;
    background: linear-gradient(275deg, rgb(131, 58, 180) 0%, rgb(252, 176, 69) 100%);
    background-size: 125%;
}

h1 {
    @include header(rgb(255, 255, 255), rgb(0, 153, 255));
}

h2 {
    margin: 0.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
    width: 90vw;
    margin: 1rem;
    justify-content: center;
    gap: 5px;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 1em;
    background: #fff;
    box-shadow: -14px -13px 15px -10px Rgb(74 74 48 / 30%) inset,
            0 20px 15px -10px Rgb(39 39 19 / 30%) inset, 0 0 10px Rgb(0 0 0 / 10%);

    @media(min-width: $bp-sm) {
        grid-template-columns: repeat(4, 250px);
        width: auto;
    }

    img {
        border-radius: 5px;
    }

    .middle {
        display: none;

        @media(min-width: $bp-sm) {
            display: block;
            grid-column: 2/4;
            grid-row: 2/4;
        }
    }
}