@import 'modules/reset';
@import 'modules/breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body {
    display: grid;
    flex-direction: column;
    place-items: center; 
    text-align: center;
    gap: 1em;
    font-family: 'Major Mono Display', monospace;
    background: linear-gradient(275deg, rgb(131, 58, 180) 0%, rgb(252, 176, 69) 100%);
    background-size: 150%;
    padding: 0.5em;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 5.5vmax;
    background: rgb(0, 153, 255);
    background-clip: text;
    -webkit-background-clip: text;
    text-stroke: 3.5px #000;
    -webkit-text-stroke: 3.5px #000;
    color: transparent;
    letter-spacing: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
    width: 90vw;
    justify-content: center;
    gap: 5px;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 1em;
    background: #fff;
    box-shadow: -14px -13px 15px -10px Rgb(74 74 48 / 30%) inset,
            0 20px 15px -10px Rgb(39 39 19 / 30%) inset, 0 0 10px Rgb(0 0 0 / 10%);

    @media(min-width: $bp-sm) {
        grid-template-columns: repeat(4, 250px);
        width: auto;
    }

    img {
        border-radius: 5px;
    }

    .middle {
        display: none;

        @media(min-width: $bp-sm) {
            display: block;
            grid-column: 2/4;
            grid-row: 2/4;
        }
    }
}