@import 'modules/reset';
@import 'modules/breakpoints';
@import 'modules/header';

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, sans-serif;
    background: linear-gradient(275deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 100%);
}

h1 {
    @include header(rgb(255, 255, 255), rgb(0, 153, 255));
}

h2 {
    margin-top: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
    gap: 5px;
    border: 3px solid #fff;
    border-radius: 5px;
    // margin: 2em 0;
    padding: 1em;
    background: #fff;
    box-shadow: -14px -13px 15px -10px Rgb(74 74 48 / 30%) inset, 0 20px 15px -10px Rgb(39 39 19 / 30%) inset, 0 0 10px Rgb(0 0 0 / 10%);
    // width: 85vw;

    @media(min-width: $bp-xs) {
        grid-template-columns: repeat(4, 250px);
        width: auto;
    }

    img {
        border-radius: 5px;
    }

    .middle {
        display: none;

        @media(min-width: $bp-xs) {
            display: block;
            grid-column: 2/4;
            grid-row: 2/4;
        }
    }
}