/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

* {
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
  font-family: 'PT Serif', serif;
  color: #414141;
  line-height: 1.6;
}

.container {
  font-family: serif;
}

header {
  font-family: 'Cinzel', serif;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

.subtitle {
  font-size: 1.5rem;
  color: #7D7D7D;
}

.lead {
  font-size: 1.3125rem;
}

a {
  color: #CA5E10;
}
