body {
    font-family: tahoma;
    font-size: 24px;
    color: #000;
}

header {
    text-align: center;
    font-size: 48px;
}

footer {
    text-align: center;
}

h1 {
    text-align: center;
}

a {
    font-size: 24px;
    color: #222;
    text-decoration: none;
}

a:hover {
    font-size: 28px;
    text-decoration: underline;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}

#container {
    list-style:none;
    width:327px;
    height:500px;
    margin:50px auto;
    
    -webkit-perspective: 1000; /* Add depth to the rotation */
}

#container li {
    height:5px;
    width:327px;
}

#container li div {
    position:absolute;
    height:5px;
    width:327px; /* Width and height of each bar */
    
    -webkit-animation-duration: 4s;
    -webkit-transform-style: preserve-3d; /* preserve the  3d position */
    -webkit-animation-fill-mode: forwards; /* retain the 3d style set by the last keyframe */
}

#container li div:nth-child(2) {
    -webkit-backface-visibility: hidden; /* Hide Bender when facing the other side */
}