
/* icons */
.fab {
    font-size: 2rem;
    color: var(--color-icon);
    transition: color 500ms ease-in-out;

    &.fa-twitter:hover {
        color: #1DA1F2 !important;
    }
    
    &.fa-instagram:hover {
        color: #E1306C !important;
    }
    
    &.fa-lastfm:hover {
        color: #d51007 !important;
    }
    
    &.fa-facebook:hover {
        color: #3b5998 !important;
    }
    
    &.fa-linkedin:hover {
        color: #0077b5 !important;
    }

    &.fa-strava:hover {
        color: #fc4c02 !important;
    }
}

.fa-map-marker-alt {
    position: absolute;
    font-size: 1.5em;
    color: #F70000;
    font-size: 1.3em;
    color: #F70000;
    left: -18px;
    top: -1px;
}