@import 'breakpoints';

@font-face { 
    font-family: 'Frankfurter';
    src: url('/fonts/Frankfurter-Std-Regular.otf');
} 

@mixin header($color1, $color2) {
    font-family: Frankfurter;
    font-size: 4rem;
    background: linear-gradient(0.9turn, $color1, $color2, $color1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1.5px #000;
    text-stroke: 1.5px #000;
    color: transparent;
    letter-spacing: 2px;
    z-index: 2;

    @media (min-width: $bp-sm) {
        font-size: 6rem;
        transform: rotate(355deg) translateY(40px);
    }
}
