@import 'breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@font-face { 
    font-family: 'Frankfurter';
    src: url('/fonts/Frankfurter-Std-Regular.otf');
} 

@mixin header($color1, $color2) { 
    font-family:  'Major Mono Display', monospace;
    font-size: 4rem;
    background: linear-gradient(0.9turn, $color1, $color2, $color1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1.5px #000;
    text-stroke: 1.5px #000;
    color: transparent;
    line-height: 1;
    letter-spacing: 5px;
    z-index: 2;
    margin: 1rem 1rem 0;

    @media (min-width: $bp-sm) {
        font-size: 6rem;
    }
}
