body {
    font-size: 36px;
    background: #daf0e7;
}

div {
    width: 200px;
    height: 200px;
    text-align: center;
}

table {
margin-top: 25px;
margin-right: auto;
margin-bottom: 200px;
margin-left: auto;
border-spacing: 25px;
}

td {
border: 5px dotted purple;
width: 200px;
}

.important {
    text-decoration: underline;
}

#static_1 { 
	position: static;
	background: #ee3e64;
	color: blue;
}

#static_2 { 
	position: static;
	background: #44accf;
	color: white;
}

#static_3 { 
	position: static;
	background: #b7d84b;
	color: green;
}

#static_4 { 
	position: static;
	background: #ebde52;
	color: red;
}

#relative_1 { 
	position: relative;
	left: 25px;
        top: -25px;
	background: #ee3e64;
	color: blue;
}

#relative_2 { 
	position: relative;
	left: 75px;
        top: -75px;
	background: #44accf;
	color: white;
}

#relative_3 { 
	position: relative;
	left: -50px;
        top: -100px;
	background: #b7d84b;
	color: green;
}

#relative_4 { 
	position: relative;
	left: 110px;
        top: -125px;
	background: #ebde52;
	color: red;
}

#absolute_1 { 
	position: absolute;
	top: 0;
	left: 0;
	background: #ee3e64;
	color: blue;
}
#absolute_2 { 
	position: absolute;
	top: 0;
	right: 0;
	background: #44accf;
	color: white;
}
#absolute_3 { 
	position: absolute;
	bottom: 0;
	left: 0;
	background: #b7d84b;
	color: green;
}
#absolute_4 { 
	position: absolute;
	bottom: 0;
	right: 0;
	background: #ebde52;
	color: red;
}

#fixed_1 {
	position: fixed;
	top: 33%;
	right: 76%;
	left: 3%;
	width: 350px;
	background: #ffc130;
	color: #44accf;
	z-index: -1;
	border: 2px solid green;
	border-radius: 10px;
}

#fixed_2 {
	position: fixed;
	top: 33%;
	right: 3%;
	left: 76%;
	width: 350px;
	background: #ffc130;
	color: #44accf;
	z-index: -1;
	border: 2px solid green;
	border-radius: 10px;
}