body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/coasters/wave.png"); }

.erie {
  width: 470px;
  height: 476px;
  background: url("/images/coasters/lake-erie.png");
  box-shadow: #000 0px 22px 70px 4px;
  animation: waves 1s ease-in-out infinite; }

@keyframes waves {
  25% {
    background: url("/images/coasters/lake-erie-waves.png"); }
  50% {
    background: url("/images/coasters/lake-erie.png"); }
  75% {
    background: url("/images/coasters/lake-erie-waves2.png"); } }
