body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0.25turn, #B89287, #ebf8e1, #991bbd); }

.playhouse {
  position: relative;
  width: 452px;
  height: 443px;
  left: 226px;
  background: url('/images/coasters/playhouse.png');
  box-shadow: #991bbd 0px 0px 0px 1vh,
 #B89287 0px 0px 0px 2vh,
 #991bbd 0px 0px 0px 3vh, 
 #B89287 0px 0px 0px 5vh,
 #991bbd 0px 0px 0px 7vh,
 #B89287 0px 0px 0px 10vh,
 #991bbd 0px 0px 0px 13vh,
 #B89287 0px 0px 0px 14vh,
 #991bbd 0px 0px 0px 15vh,
 #B89287 0px 0px 0px 17vh,
 #991bbd 0px 0px 0px 19vh,
 #B89287 0px 0px 0px 21vh,
 #991bbd 0px 0px 0px 23vh;
  animation: border 5s infinite alternate; }

.sign {
  position: relative;
  left: -226px;
  width: 425px;
  height: 309px;
  background: url('/images/coasters/playhouse-sign.png') no-repeat;
  transform: rotate(6.4deg) translate(25px, -34px) scale(1.05);
  opacity: 0;
  animation: flicker 5s infinite alternate; }

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 0; }
  20%,
  24%,
  55% {
    opacity: 1; } }

@keyframes border {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    box-shadow: #991bbd 0px 0px 0px 1vh, #B89287 0px 0px 0px 2vh, #991bbd 0px 0px 0px 3vh, #B89287 0px 0px 0px 5vh, #991bbd 0px 0px 0px 7vh, #B89287 0px 0px 0px 10vh, #991bbd 0px 0px 0px 13vh, #B89287 0px 0px 0px 14vh, #991bbd 0px 0px 0px 15vh, #B89287 0px 0px 0px 17vh, #991bbd 0px 0px 0px 19vh, #B89287 0px 0px 0px 21vh, #991bbd 0px 0px 0px 23vh; }
  20%,
  24%,
  55% {
    box-shadow: #B89287 0px 0px 0px 1vh, #991bbd 0px 0px 0px 2vh, #B89287 0px 0px 0px 3vh, #991bbd 0px 0px 0px 5vh, #B89287 0px 0px 0px 7vh, #991bbd 0px 0px 0px 10vh, #B89287 0px 0px 0px 13vh, #991bbd 0px 0px 0px 14vh, #B89287 0px 0px 0px 15vh, #991bbd 0px 0px 0px 17vh, #B89287 0px 0px 0px 19vh, #991bbd 0px 0px 0px 21vh, #B89287 0px 0px 0px 23vh; } }
