.palette {
  height: 100px;
  width: 100px;
  padding: 0.6rem;
  display: inline-block;
  color: #fff;
  text-align: center;
}

.orange {
  background-color: #e67300;
}

.navy {
  background-color: #395070;
}