.form-control::placeholder {
  color: #ccc; }

.form-control:read-only::placeholder {
  color: #777; }

select:disabled {
  color: #ccc; }

.form-check-input {
  -webkit-appearance: none;
  border: 1px solid #adb8c0;
  padding: 10px !important;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin-right: .4rem; }
  .form-check-input:checked:after {
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top: -4px;
    left: 3px;
    color: #395070; }
  .form-check-input:focus {
    outline: none; }
  .form-check-input:disabled {
    background: #e9ecef; }
  .form-check-input + label {
    position: relative;
    top: -5px; }
  .form-check-input.radio {
    border-radius: 50px; }

.form-check-inline label {
  top: 0; }

.form-check-inline.form-check-input {
  margin-right: .6rem; }
  .form-check-inline.form-check-input:checked:after {
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top: -2px;
    left: 4px;
    color: #395070; }
  .form-check-inline.form-check-input.radio:checked:after {
    content: ' ';
    width: 14px;
    height: 14px;
    border-radius: 50px;
    top: 5px;
    left: 4px;
    background: #395070; }

::-webkit-inner-spin-button {
  display: none; }
