.panel {
  width: 33%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 2.2rem;
  padding: .5rem; }
  .panel a {
    font-size: 1.2rem; }
  .panel h5 {
    display: inline-block;
    margin: -1.3rem 0 0 0;
    background-color: #fff; }
  .panel .fa-star {
    position: relative;
    top: 1px;
    margin-right: .2rem; }
  .panel #btn-add-favorite {
    text-align: right;
    margin-right: .2rem; }
  .panel div:first-of-type .fas {
    display: inline; }
  .panel ul {
    margin: -.25rem 0 0 0;
    padding: 0;
    list-style-type: none; }
    .panel ul li:not(:last-child) {
      margin-bottom: .5rem; }
  .panel.repeating {
    width: 100%;
    padding-left: 1rem; }
    .panel.repeating .repeat-row {
      margin-top: 1.9rem; }
      .panel.repeating .repeat-row label {
        padding-left: 0; }
    .panel.repeating .repeat-form {
      border-top: 1px solid #ccc;
      padding-top: .7rem; }
      .panel.repeating .repeat-form .form-check {
        position: relative;
        top: 2.2rem; }
      .panel.repeating .repeat-form .row:nth-child(2) {
        padding-left: 2.9rem; }
      .panel.repeating .repeat-form .id {
        font-size: 24px;
        padding: 1rem; }
  @media (max-width: 768px) {
    .panel {
      width: 100%; } }

#associations .panel {
  display: inline-block;
  margin-right: 5em;
  height: 50%; }
  #associations .panel .draggable {
    /*padding: .3rem;*/
    padding: .3rem .3rem .8rem;
    /*margin: .5rem 0;*/
    margin: .5rem .5rem .2rem;
    cursor: pointer; }
  #associations .panel .fas {
    position: relative;
    top: 7px;
    font-size: 2.8rem;
    margin-right: .5rem; }
    #associations .panel .fas.fa-user-astronaut {
      color: #89b4f9; }
    #associations .panel .fas.fa-user-secret {
      color: #ffb56b; }
    #associations .panel .fas.fa-user-ninja {
      color: #8ce261; }
    #associations .panel .fas.fa-user-md {
      color: #e2618a; }
    #associations .panel .fas.fa-user-nurse {
      color: #776d8e; }
    #associations .panel .fas.fa-user-graduate {
      color: #d8c765; }

.fas.fa-star {
  color: #FFFC00;
  display: none; }

.fas.fa-trash-alt {
  position: relative;
  top: 38px; }
  @media (max-width: 992px) {
    .fas.fa-trash-alt {
      top: 0; } }
