.octagon {
    width: 150px;
    height: 150px;
    background: rebeccapurple;
    position: relative;
    animation: rotate 5s linear infinite;

    &:before {
        content: "";
        width: 150px;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 43.5px solid rebeccapurple;
        border-left: 43.5px solid #fefefe;
        border-right: 43.5px solid #fefefe;
      }

      &:after {
        content: "";
        width: 150px;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 43.5px solid rebeccapurple;
        border-left: 43.5px solid #fefefe;
        border-right: 43.5px solid #fefefe;
      }
  }

  @keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

// HEXAGON

.hexagon {
    width: 100px;
    height: 57.735px;
    background: pink;
    position: relative;
    top: calc(50% - 28.8675px);
    left: calc(50% - 50px);
    z-index: 1;
    animation: rotate 2.5s linear infinite reverse;

    &:before {
        content: "";
        position: absolute;
        top: -28.8675px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 28.8675px solid pink;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -28.8675px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 28.8675px solid pink;
      }
  }

//PENTAGON

.pentagon {
    position: relative;
    width: 54px;
    box-sizing: content-box;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: #ff008b transparent;
    left: calc(50% - 45px);
    top: calc(50% - 13px);
    z-index: 2;
    animation: rotate 2.5s linear infinite;
    transform-origin: 50% 25%;

    &:before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        top: -85px;
        left: -18px;
        border-width: 0 45px 35px;
        border-style: solid;
        border-color: transparent transparent #ff008b;
    }
}