.tritainer {
    min-width: 75px;
}

.triangle {
    width: 10px;
    height: 10px;
    border-left: 75px solid rgb(216, 79, 159);
    border-right: 75px solid rgb(72, 124, 120);
    border-bottom: 75px solid rgb(144, 216, 29);
    border-top: 75px solid rgb(235, 186, 112);
    border-radius: 50%;
    transform: rotate(-45deg);
    animation: triangle 2s linear infinite alternate;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@keyframes triangle {
    to {
        border-left: 25px solid rgb(235, 186, 112);
        border-right: 25px solid rgb(144, 216, 29);
        border-bottom: 25px solid rgb(216, 79, 159);
        border-top: 25px solid rgb(72, 124, 120);
        border-radius: 0;
        box-shadow: none;
        transform: rotate(45deg);
    }
}