@import 'normalize.less';
@import 'styles.less';
@import 'variables/colors.less';
@import 'variables/breakpoints.less';

body {
    background: @body-background;
    padding: 10px;
    font-family: Raleway, helvetica, sans-serif;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    text-align: center;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f";

    > * {
        border: 3px dashed #000;
        border-radius: 5px;
        background: @section-background;
    }

    > .A {
        grid-area: a;
    }

    > .B {
        grid-area: b;
    }

    > .C {
        grid-area: c;
    }

    .D {
        grid-area: d;
    }

    .E {
        grid-area: e;
    }

    > .F {
        grid-area: f;
    }
}

@media (min-width: @small) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 3fr 2fr;
        grid-template-areas:
            "a b b e"
            "d d c f";
    }
}

@media (min-width: @desktop) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "a b c"
            "d e f";
    }
}

@media (min-width: @desktop-wide) {
    .container {
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: 1fr 3fr 2fr 1fr;
    grid-template-areas:
        "a a a"
        "b c e"
        "f f e"
        "d d d";
    }
}

@media (min-width: @desktop-XL) {
    .container {
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-areas:
        "a a a b"
        "d c c c"
        "e e f f";
    }
}

@media (min-width: @big) {
    .container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "a b c d e f";
    }
}