body, h1 {
	margin: 0;
	padding: 0;
}

body {
	color: #fff;
	font-size: 13px;
	background: #D7DDDC;
	font-family: Tahoma;
}

#Clock {
	border: 3px solid #fff;
	margin: 40px auto;
	height: 200px;
	width: 600px;
	box-shadow: 8px 8px 15px 8px #222;
	-webkit-transition: -webkit-transform 2s;
}

#Clock:hover {
	-webkit-transform:scale(1.5,1.5);
	cursor: pointer;
}

h1{
	background-color: #006666;
	border:3px solid #fff;
	border-radius: 20px;
	font-family: 'Comic Sans MS';
	font-size:60px;
	font-weight:normal;
	margin: 15px auto 15px auto;
	padding:15px;
	text-align:center;
	text-shadow: 3px 4px 5px #ffa100;
	box-shadow: 3px 7px 15px -2px #222;
	width: 600px;
}

/* styles for the javascript generated elements */

.clock {
	background-color: #006633;
	height: 200px;
	width: 200px;
	position: relative;
	overflow: hidden;
	float: left;
}

.clock .rotate {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 0;
	left: 0;
}

.rotate.right {
	display: none;
	z-index: 11;
}

.clock .bg, .clock .front {
	background-color: #006633;
	width: 100px;
	height: 200px;
	position: absolute;
	top: 0;
}

.clock .display {
	position: absolute;
	width: 200px;
	font-family: 'Comic Sans MS';
	z-index: 20;
	color: #fff;
	font-size: 60px;
	text-align: center;
	top: 55px;
	left: 0;
	text-shadow: 4px 4px 5px #5D9AC3;
}

.clock .bg.left { left:0; }

.clock .bg.right { left:100px; }

.orange .bg.left { background: url(../images/bg_orange.png) no-repeat left top; }
.green .bg.left { background: url(../images/bg_green.png) no-repeat left top; }
.blue .bg.left { background: url(../images/bg_blue.png) no-repeat left top; }
.orange .bg.right { background: url(../images/bg_orange.png) no-repeat right top; }
.green .bg.right { background: url(../images/bg_green.png) no-repeat right top; }
.blue .bg.right { background: url(../images/bg_blue.png) no-repeat right top; }

.clock .front.left {
	left: 0;
	z-index: 10;
}