* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    padding: 3em;
    background: #C9AB9B;

    &.her {
        background: pink;

    h1 {
        font-size: 5em;
        margin-bottom: 5rem;
    }

        .container {
            background: black;
            height: 850px;
            padding-top: 0;
        }

        i {
            color: palevioletred;
            &:hover {
                color: turquoise;
            }
        }
    }

    &.happyboy {
        background: orange;

        h1 {
            color: darkcyan;
            font-size: 5rem;
            padding-bottom: 0;
            text-shadow: 5px 5px #fff;

            &.pink {
                color: aquamarine;
                text-shadow: 5px 5px #000;
            }
        }

        .container {
            background: lightsteelblue;

            &.pink {
                background: palevioletred;
            }
        }

        p {
            color: white;
            text-shadow: 3px 3px magenta;

            &.pink {
                text-shadow: 3px 3px darkblue;
            }
        }

        i {
            color: palevioletred;
            &:hover {
                color: orange;
            }
        }
    }
    &.pink {
        background: lightgoldenrodyellow;

        i {
            color: lightgreen;
        }
    }

    &.blue {
        background: rgb(65, 62, 62);

        .container {
            background: #7486FF;

            h1{
                color: #F1FFF3;
                font-size: 5rem;
                padding-bottom: 0;
                text-shadow: 5px 5px #17351C;
            }

            p {
                text-shadow: 3px 3px #17351C;
            }

            i {
                color: #000;
            }
        }
    }
}

.container {
    padding: 2em;
    background: #5A3D2D;
    box-shadow: 0 0 2em #000;
    height: 550px;
}

h1 {
    font-size: 3em;
    color: #FFEEDD;
    padding-bottom: 2rem;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    padding-left: 2em;
}

.love {
    padding: 0;
    animation: pulse .3s infinite alternate;
}

.juniper {
    padding: 0;
    animation: juniper .3s infinite alternate;
}

@keyframes juniper {
    0% {
        box-shadow:
        0 0 20px 10px #fff,  /* inner white */
        0 0 33px 20px #f0f, /* middle magenta */
        0 0 50px 20px #0ff; /* outer cyan */
    }

    100% {
        box-shadow:
        0 0 20px 20px #fff,  /* inner white */
        0 0 33px 40px #f0f, /* middle magenta */
        0 0 50px 40px #0ff; /* outer cyan */
    }
}

.love2 {
    animation: pulse-small 1s infinite alternate;
}
 
.house {
    animation: house .5s infinite alternate;
}

@keyframes house {
    0% {
        box-shadow:
        0 0 0px 0px #769330,  /* inner white */
    }

    100% {
        box-shadow:
        0 0 10px 10px #769330,  /* inner white */
    }
}

.three {
    animation: three .5s infinite alternate;
}

@keyframes three {
    0% {
        box-shadow:
        0 0 0px 0px #F8E1C1  /* inner white */
    }

    100% {
        box-shadow:
        0 0 10px 10px #F8E1C1,  /* inner white */
    }
}

.infatuated {
    animation: pulse2 .1s infinite alternate;
}

.emph {
    font-size: 4rem;
    text-shadow: 5px 5px blue;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.something {
    text-shadow: 2px 2px 2px magenta, 5px 5px 5px blue;
}

.happy {
    color: #30D5C8;
    font-size: 3rem;
    animation: happy 1s infinite alternate;
}

.happy2 {
    animation: happy2 2s infinite alternate;
}

.smart {
    display: inline-block;
    animation: heartbeat 100ms infinite alternate;
}

.funny {
    display: inline-block;
    animation: heartbeat2 100ms infinite alternate;
}

.charming {
    display: inline-block;
    animation: heartbeat3 100ms infinite alternate;
}

.sweet {
    display: inline-block;
    animation: heartbeat4 100ms infinite alternate;
}

.rocket {
    animation: rocket 2s infinite alternate;
}

.rotate {
    animation: rotate 2s infinite alternate;
}

.twinkle2 {
    position: absolute;
    right: 211px;
    top: 190px;
    width: 360px;
}

.ring {
    position: absolute;
    right: 245px;
    top: 268px;
    animation: ring .5s infinite alternate;
}

@keyframes ring {
    0% {
        transform: scale(.35);
    }

    100% {
        transform: scale(.25);
    }
}

.glow-shadow {
    animation: glow-shadow .5s infinite alternate;
}

@keyframes glow-shadow {
    0% {
        box-shadow: 0px 0px 0px yellow;
    }

    100% {
        box-shadow: 0px 0px 300px yellow;
    }
}

.heart {
    position: absolute;
    z-index: 2;
    width: 100px;
    top: 180px;
    animation: heart 10s infinite alternate;
}

@keyframes heart {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(1250px);
    }
}

.happy-heart {
    position: absolute;
    right: 220px;
    top: 336px;
    animation: happy-heart 1s infinite alternate;
}

@keyframes happy-heart {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(2.5);
    }
}

.trips {
    max-height: 75%;
    padding-left: 0;
}

.trips1 {
    animation: trips1 2s infinite alternate;
}

.trips2 {
    animation: trips2 1.5s infinite alternate;
}

.trips3 {
    animation: trips3 3s infinite alternate;
}

.trips4 {
    animation: trips4 2.5s infinite alternate;
}

@keyframes trips1 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes trips2 {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes trips3 {
    0% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes trips4 {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(15px);
    }
}

.swirl {
    position: absolute;
    top: 225px;
    left: 200px;
    animation: swirl 10ms infinite alternate;
  }

  @keyframes swirl {
    0% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

.vibrate {
    animation: vibrate 1ms infinite;
}

@keyframes vibrate {
    0% {
        transform: translate(-2px, 2px);
    }

    100% {
        transform: translate(2px, -2px);
    }
}

.tears {
    position: absolute;
    width: 430px;
    top: 360px;
    left: 140px;
    animation: tears 2s infinite;
}

@keyframes tears {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(75px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.woodstock {
    animation: woodstock 2s infinite;
}

@keyframes woodstock {
    0% {
        transform: translate(0,0);
    }

    6% {
        transform: translate(12px,13px);
    }

    12% {
        transform: translate(25px,25px);
    }

    18% {
        transform: translate(37px,38px);
    }

    27% {
        transform: translate(50px,50px);
    }

    35% {
        transform: translate(37px,62px);
    }

    42% {
        transform: translate(25px,75px);
    }

    48% {
        transform: translate(12px,75px);
    }

    55% {
        transform: translate(0px,75px);
    }

    62% {
        transform: translate(-12px, 75px);
    }

    68% {
        transform: translate(-25px, 75px);
    }

    75% {
        transform: translate(-38px, 62px);
    }

    82% {
        transform: translate(-50px, 50px);
    }

    88% {
        transform: translate(-37px, 37px);
    }

    94% {
        transform: translate(-25px, 25px);
    }

    100% {
        transform: translate(-12px, 13px);
    }
}



.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 460px;



    p {
        color: #fff;
        font-size: 2.4em;
        padding: 0 2rem;

        .sad {
            color: #121212;
            font-size: 3rem;
            animation: sad 1s infinite alternate;

        }



        i {
            font-size: .8em;
            color: #9f777e;
            animation: heartbeat .3s infinite alternate;
        }
    }

    i {
        font-size: 4.5em;
        color: #000;

        &:hover {
            color: #AE9181;
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    width: 25%;

    img {
        padding-left: 0;
    }
}

.grid2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    width: 50%;

    img {
        padding-left: 0;
    }
}

.grid3 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    width: 75%;
}

.misc-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    width: 76%;
    margin-top: 380px;

    img {
        padding-left: 0;
    }
}

.sports-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    margin-top: 5em;

    grid-column-gap: 20px;
    width: 50%;

    img {
        padding-left: 0;
    }
}

.food-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    width: 70%;
    margin-top: 500px;

    img {
        padding-left: 0;
    }

    &.modified {
        img {
            padding-left: 2rem;
        }
    }
}

.food-grid2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    width: 70%;
    margin-top: 500px;
}

.food-grid3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    width: 100%;

    img {
        padding-left: 0;
    }
}

.wedding-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    grid-gap: 5px;
    margin-top: 430px;

    img {
        padding-left: 0;
        animation: wedding .2s infinite alternate;
    }
}

.toddler-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    grid-gap: 5px;

    img {
        padding-left: 0;
    }
}

@keyframes wedding {
    0% {
        box-shadow: 3px 3px 5px 6px pink; 
    }

    100% {
        box-shadow: 3px 3px 200px 6px pink; 
    } 
}

.winter-flex{
    display: flex;
    flex-direction: column;
}

.winter-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    grid-gap: 5px;
    margin-top: 130px;
    margin-bottom: 5px;

    img {
        padding-left: 0;
    }
}

.world-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    grid-gap: 5px;
    margin-top: 770px;

    img {
        padding-left: 0;
    }
}

.world-grid2 {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    grid-gap: 5px;
    margin-top: 1870px;

    img {
        padding-left: 0;
    }
}

.maui-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    grid-gap: 5px;
    margin-top: 1500px;

    img {
        padding-left: 0;
    }
}

.exclamation {
    position: absolute;
    top: 529px;
    left: 724px;
    font-size: 7rem;
    color: orange;
    text-shadow: 2px 2px black;
    animation: exclamation .2s infinite alternate;
}

@keyframes exclamation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    } 
}

.sports-heart {
    position: absolute;
    top: 280px;
    width: 50px;
    right: 580px;
    animation: heartbeat .2s infinite alternate;
}

.sports-heart2 {
    position: absolute;
    top: 256px;
    width: 50px;
    right: 624px;
    animation: heartbeat .2s infinite alternate;
}

.tower-heart {
    position: absolute;
    top: 719px;
    right: 326px;
    transform: scale(.85);
    animation: towerheart .2s infinite alternate;
}

@keyframes towerheart {
    0% {
        transform: scale(.85);
    }

    100% {
        transform: scale(1);
    } 
}

.christmas {
    position: relative;
    top: 510px;
    left: -210px;
}

.star {
    position: absolute;
    top: 260px;
    width: 50px;
    right: 313px;
    animation: star 2.5s infinite;
}

@keyframes star {
    0% {
        transform: rotate3d(0);
    }

    100% {
        transform: rotate3d(1, 0, 0, 360deg);
    } 
}

.bubbling-hearts {
    position: absolute;
    width: 140px;
    top: 580px;
    left: 550px;
    animation: bubble 2.5s infinite alternate;
}

@keyframes bubble {
    0% {
        transform: translateY(0) scale(.2);
    }

    100% {
        transform: translateY(-50px) scale(1.1);
    } 
}

.eyes {
    position: absolute;
    width: 40px;
    right: 455px;
    top: 266px;
    animation: eyes .5s infinite alternate;
}

@keyframes eyes {
    0% {
        transform: scale(1) rotate(-11deg);;
    }

    100% {
        transform: scale(1.4) rotate(-11deg);;
    }
}

.basketball {
    position: absolute;
    width: 150px;
    top: 398px;
    left: 405px;
    animation: basketball 3s infinite;
}

@keyframes basketball {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes pulse {
    0% {
        box-shadow:
        0 0 60px 30px #fff,  /* inner white */
        0 0 100px 60px #f0f, /* middle magenta */
        0 0 140px 60px #0ff; /* outer cyan */
    }

    100% {
        box-shadow:
        0 0 60px 60px #fff,  /* inner white */
        0 0 100px 120px #f0f, /* middle magenta */
        0 0 140px 120px #0ff; /* outer cyan */
    }
}

@keyframes pulse2 {
    0% {
        box-shadow:
        0 0 20px 10px #fff,  /* inner white */
        0 0 33px 620x #f0f, /* middle magenta */
        0 0 50px 20px #0ff; /* outer cyan */
    }

    100% {
        box-shadow:
        0 0 20px 20px #fff,  /* inner white */
        0 0 33px 40px #f0f, /* middle magenta */
        0 0 50px 40px #0ff; /* outer cyan */
    }
}

@keyframes pulse-small {
    0% {
        box-shadow:
        0 0 2px 2px wheat,  /* inner white */
    }

    100% {
        box-shadow:
        0 0 6px 6px wheat,  /* inner white */
    }
}

  @keyframes heartbeat {
      0% {
          transform: translateX(2px);
      }

      100% {
          transform: translateX(-2px);
      }
  }

  @keyframes heartbeat2 {
    0% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(1px);
    }
}

@keyframes heartbeat3 {
    0% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(-1px);
    }
}

@keyframes heartbeat4 {
    0% {
        transform: translateX(-4px);
    }

    100% {
        transform: translateX(3px);
    }
}

@keyframes rocket {
    0% {
        transform: translateY(-150px);
    }

    100% {
        transform: translateY(150px);
    }
}


    @keyframes sad {
      0% {
          color: #fff;
      }

      100% {
          color: #121212;
      }
  }

  @keyframes happy {
    0% {
        color:  #30D5C8;;
    }

    100% {
        color: #E82078;
    }
}

@keyframes happy2 {
    0% {
        color:  darkmagenta;;
    }

    20% {
        color: orange;
    }

    40% {
        color: pink;
    }

    60% {
        color: blue;
    }

    80% {
        color: pink
    }

    100% {
        color: #fff;
    }
}

.mickey {
    display: inline-block;
    animation: mickey 1s infinite alternate;
}

@keyframes mickey {
    0% {
        transform: scale(1);
        color: #fff;
        text-shadow: 3px 3px magenta;
    }

    100% {
        transform: scale(1.4);
        color: #000;
        text-shadow: 3px 3px #fff;
    }
}

.neon {
    animation: neon .1s infinite alternate;
}

@keyframes neon {
    0% {
        text-shadow: none;
    }

    100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FF88F2, 0 0 20px #FF88F2, 0 0 30px #FF88F2, 0 0 40px #FF88F2;
    }
}

.notes-heart {
    position: absolute;
    left: 188px;
    top: 560px;
    animation: notes-heart 1s infinite alternate;
}

.notes-heart2 {
    position: absolute;
    left: 220px;
    top: 463px;
    animation: notes-heart2 1s infinite alternate;
}

.notes-heart3 {
    position: absolute;
    left: 255px;
    top: 515px;
    animation: notes-heart3 1s infinite alternate;
}

.notes-heart4 {
    position: absolute;
    left: 384px;
    top: 489px;
    animation: notes-heart4 1s infinite alternate;
}

.notes-heart5 {
    position: absolute;
    left: 379px;
    top: 590px;
    animation: notes-heart5 1s infinite alternate;
}

.notes-heart6 {
    position: absolute;
    left: 272px;
    top: 584px;
    animation: notes-heart6 1s infinite alternate;
}

@keyframes notes-heart {
    0% {
        transform: translate(0,0);
    }

    100% {
        transform: translate(-100px, -50px);
    }
}

@keyframes notes-heart2 {
    0% {
        
        transform: translateY(0,0) rotate(20deg);
    }

    100% {
        transform: translateY(-50px) rotate(20deg);
    }
}

@keyframes notes-heart3 {
    0% {
        transform: translate(0,0) rotate(-20deg);
    }

    100% {
        transform: translate(150px, -75px) rotate(-20deg);
    }
}

@keyframes notes-heart4 {
    0% {
        transform: translate(0,0) rotate(43deg);
    }

    100% {
        transform: translate(150px, 75px) rotate(43deg);
    }
}

@keyframes notes-heart5 {
    0% {
        transform: translate(0,0) rotate(17deg);
    }

    100% {
        transform: translate(75px, 150px)  rotate(17deg);
    }
}

@keyframes notes-heart6 {
    0% {
        transform: translate(0,0) rotate(43deg);
    }

    100% {
        transform: translate(-75px, 150px) rotate(43deg);
    }
}

.sparkle {
    position: absolute;
    left: 710px;
    top: 380px;
    animation: sparkle .4s infinite alternate;
}

@keyframes sparkle {
    0% {
        transform: translate(-1px,-1px) scale(.5);
    }

    100% {
        transform: translate(1px,1px) scale(.65);
    }
}

.cle-heart {
    position: absolute;
    top: 810px;
    left: 337px;
    animation: cle-heart 5s infinite alternate;
}

@keyframes cle-heart {
    0% {
        transform: scale(.85);
    }

    100% {
        transform: scale(1.2);
    }
}

.hobbes {
    animation: hobbes .2s infinite alternate;
}

@keyframes hobbes {
    0% {
        box-shadow:
        0 0 0px 0px #8F6769,  /* inner white */
    }

    100% {
        box-shadow:
        0 0 0 5px #8F6769,  /* inner white */
    }
}

.hobbes2 {
    position: absolute;
    width: 100px;
    top: 169px;
    animation: hobbes2 10s infinite;
}

@keyframes hobbes2 {
    0% {
        transform: translate(-50px, 0);
    }


    40% {
        transform: translate(650px, 0);
    }

    60% {
        transform: translate(650px, 400px);
    }

    80% {
        transform: translate(-50px, 400px);
    }

    100% {
        transform: translateX(-200px, 0);
    }
}

.hoop {
    position: absolute;
    width: 200px;
    right: 74px;
    top: 477px;
    animation: hoop 2s infinite alternate;
}

@keyframes hoop {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(250px);
    }
}

.board {
    position: absolute;
    width: 35%;
    top: 670px;
    left: 140px;
}

.pink {
    background-color: palevioletred;
}

.street {
    position: absolute;
    top: 252px;
    left: 910px;
    animation: street 2s infinite alternate;
}

@keyframes street {
    0% {
        transform: translateY(0) scale(1) rotateY(0deg);
    }



    100% {
        transform: translateY(0) scale(2.5) rotateY(360deg);
    }
}

.easter {
    position: absolute;
    width: 200px;
    top: 202px;
    left: 1134px;
}

.brick {
    position: absolute;
    width: 400px;
    top: 204px;
    left: 732px;
    animation: brick .5s infinite alternate;
}

@keyframes brick {
    0% {
        transform: scale(.8) rotate(0);
    }



    100% {
        transform: scale(1) rotate(7deg);
    }
}

.ohbaby {
    position: absolute;
    width: 200px;
    top: 208px;
    left: 152px;
    padding-left: 0;
    animation: ohbaby 5s infinite alternate;
}

.bigsister {
    position: absolute;
    width: 200px;
    top: 208px;
    left: 1167px;
    padding-left: 0;
    animation: bigsister 5s infinite alternate;
}

@keyframes ohbaby {
    0% {
        transform: translateX(0);
        box-shadow: 0 0 10px 10px pink, 0 0 10px 10px lightpink
    }



    100% {
        transform: translateX(1000px);
        box-shadow: 0 0 10px 10px darkblue, 0 0 10px 10px lightblue
    }
}

@keyframes bigsister {
    0% {
        transform: translateX(0);
        box-shadow: 0 0 10px 10px darkblue, 0 0 10px 10px lightblue
    }



    100% {
        transform: translateX(-1014px);
        box-shadow: 0 0 10px 10px pink, 0 0 10px 10px lightpink
    }
}

.cle-sign {
    position: absolute;
    width: 80%;
    left: 120px;
    top: 210px;
}

.arrow1 {
    position: absolute;
    top: 604px;
    width: 160px;
    transform: rotate(-151deg);
    left: 251px;
    animation: arrow1 .3s infinite alternate;
}

@keyframes arrow1 {
    0% {
        transform: translate(5px, 5px) rotate(-151deg);
    }

    100% {
        transform: translateY(-5px, -5px) rotate(-151deg);
    }
}

.arrow2 {
    position: absolute;
    top: 541px;
    width: 160px;
    transform: rotate(-91deg);
    left: 347px;
    animation: arrow2 .3s infinite alternate;
}

@keyframes arrow2 {
    0% {
        transform: translateY(5px) rotate(-91deg);
    }

    100% {
        transform: translateY(-5px) rotate(-91deg);
    }
}

.arrow3 {
    position: absolute;
    top: 601px;
    width: 160px;
    transform: rotate(-29deg);
    left: 447px;
    animation: arrow3 .3s infinite alternate;
}

@keyframes arrow3 {
    0% {
        transform: translate(-5px, 5px) rotate(-29deg);
    }

    100% {
        transform: translateY(5px, -5px) rotate(-29deg);
    }
}

.arrow4 {
    position: absolute;
    top: 719px;
    width: 160px;
    transform: rotate(31deg);
    left: 464px;
    animation: arrow4 .3s infinite alternate;
}

@keyframes arrow4 {
    0% {
        transform: translate(-5px, -5px) rotate(31deg);
    }

    100% {
        transform: translateY(5px, 5px) rotate(31deg);
    }
}

.arrow5 {
    position: absolute;
    top: 805px;
    width: 160px;
    left: 347px;
    animation: arrow5 .3s infinite alternate;
}

@keyframes arrow5 {
    0% {
        transform: translateY(-5px) rotate(88deg);
    }

    100% {
        transform: translateY(5px) rotate(88deg);
    }
}

.arrow6 {
    position: absolute;
    top: 723px;
    width: 160px;
    transform: rotate(147deg);
    left: 240px;
    animation: arrow6 .3s infinite alternate;
}

@keyframes arrow6 {
    0% {
        transform: translate(5px, -5px) rotate(147deg);
    }

    100% {
        transform: translateY(-5px, 5px) rotate(147deg);
    }
}

.both {
    position: absolute;
    top: 460px;
    left: 940px;
    width: 350px;
}

.car {
    position: absolute;
    top: 786px;
    width: 400px;
    left: 925px;
    animation: car .1s infinite alternate;
}


@keyframes car {
    0% {
        transform: rotate(0) scaleX(-1);
    }

    100% {
        transform: rotate(1deg) scaleX(-1);
    }
}

.cloud {
    position: absolute;
    width: 200px;
    top: 170px;
    left: 824px;
    animation: cloud .1s infinite alternate;
}

@keyframes cloud {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(3deg);
    }
}

.seagull {
    position: absolute;
    width: 90px;
    top: 150px;
    left: -10px;
    animation: seagull 7s infinite alternate;
}

@keyframes seagull {
    0% {
        transform: scaleX(-1) translateX(0);
    }



    100% {
        transform: scaleX(-1) translateX(-1420px);
    }
}

.seagull2 {
    position: absolute;
    width: 80px;
    top: 260px;
    left: 1380px;
    animation: seagull2 15s infinite alternate;
}

@keyframes seagull2 {
    0% {
        transform: translateX(0);
    }



    100% {
        transform: translateX(-1420px);
    }
}

.goodbye {
    padding-left: 0;
    animation: goodbye .5s infinite alternate;
}

@keyframes goodbye {
    0% {
        box-shadow: 0 0 1em #FBD131;
    }



    100% {
        box-shadow: 0 0 30em #FBD131;
    }
}

.fam1 {
    position: absolute;
    width: 290px;
    left: 795px;
}

.fam2 {
    position: absolute;
    width: 290px;
    left: 1095px;
}

.fam3 {
    width: 290px;
    top: 1179px;
    position: absolute;
    left: 795px;
}

.fam4 {
    position: absolute;
    top: 1179px;
    width: 290px;
    left: 1095px;
}

.family-text {
    animation: family .5s infinite alternate;
}

@keyframes family {
    0% {
        text-shadow: 2px 2px 8px #7A326A;

    }



    100% {
        text-shadow: 5px 5px 8rem #7A326A;
        text-shadow: 19px 19px 8px #7A326A;
    }
}

.underline {
    animation: underline .5s infinite alternate;
}

@keyframes underline {
    0% {
        text-decoration: none;

    }



    100% {
        text-decoration: underline;
    }
}

.confetti {
    position: absolute;
    top: 630px;
    left: 1280px;
    width: 45px;
    transform-origin: center center;
    animation: confetti 2s infinite alternate;
}

@keyframes confetti {
    0% {
        transform: translate(0,0) rotate(0deg);
    }

    100% {
        transform: translate(-100px, 100px) rotate(360deg);
    }
}

.confetti2 {
    position: absolute;
    top: 694px;
    left: 970px;
    width: 26px;
    transform-origin: bottom right;
    animation: confetti2 3s infinite alternate;
}

@keyframes confetti2 {
    0% {
        transform: translate(0,0) rotate(0deg);
    }

    100% {
        transform: translate(100px, 200px) rotate(360deg);
    }
}

.confetti3 {
    position: absolute;
    top: 764px;
    left: 1110px;
    width: 26px;
    transform-origin: bottom right;
    animation: confetti3 4s infinite alternate
}

@keyframes confetti3 {
    0% {
        transform: translate(0,0) rotate(0deg);
    }

    100% {
        transform: translate(-100px, -100px) rotate(360deg);
    }
}

.confetti4 {
    position: absolute;
    top: 614px;
    left: 1060px;
    width: 45px;
    transform-origin: bottom right;
    animation: confetti4 7s infinite alternate
}

@keyframes confetti4 {
    0% {
        transform: translate(0,0) rotate(0deg);
    }

    100% {
        transform: translate(100px, 250px) rotate(720deg);
    }
}

.confetti5 {
    position: absolute;
    top: 676px;
    left: 927px;
    width: 17px;
    transform-origin: center center;
    animation: confetti4 3s infinite alternate
}

@keyframes confetti5 {
    0% {
        transform: translate(0,0) rotate(0deg);
    }

    100% {
        transform: translate(-150px, 100px) rotate(720deg);
    }
}

.confetti6 {
    position: absolute;
    top: 646px;
    left: 947px;
    width: 30px;
    transform-origin: center center;
    animation: confetti6 8s infinite alternate
}

@keyframes confetti6 {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(250px) rotate(1140deg);
    }
}

.confetti7 {
    position: absolute;
    top: 614px;
    left: 969px;
    width: 36px;
    transform-origin: bottom right;
    animation: confetti7 5s infinite alternate
}

@keyframes confetti7 {
    0% {
        transform: translate(0,0) rotate(0deg);
    }

    100% {
        transform: translate(300px, 250px) rotate(720deg);
    }
}

.lego {
    position: absolute;
    width: 90px;
    top: 240px;
    right: 90px;
    animation: lego 5s infinite alternate
}

.lego2 {
    position: absolute;
    width: 90px;
    top: 240px;
    right: 497px;
    animation: lego 7s infinite alternate
}

@keyframes lego {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(300px) rotate(720deg);
    }
}

.cle {
    position: absolute;
    top: 1000px;
    right: 156px;
    width: 326px;
    animation: fade 6s infinite;
}

@keyframes fade {
    0% {
        opacity: 0
    }

   50% {
        opacity: 1;
   }

    100% {
        opacity: 0;
    }
}