---
title: 2016
one: Arrival
two: Hunt for the Wilderpeople
three: Zootopia
four: Manchester by the Sea
five: Silence
six: Sing Street
seven: Swiss Army Man
eight: Lion
nine: Cafe Society
ten: Moana
containerClass: container-2016
layout: './base.njk'
---

<div class="select">
    <select onchange="getYear()" id="movieYear">
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016" selected>2016</option>
    </select>
    <i class="fas fa-caret-down"></i>
</div>