---
title: 2017
one: Blade Runner 2049
two: Dunkirk
three: Coco
four: War for the Planet of the Apes
five: Wind River
six: I, Tonya
seven: Your Name.
eight: 'Thor: Ragnarok'
nine: Molly's Game
ten: Logan
layout: './base.njk'
---

<div class="select">
    <select onchange="getYear()" id="movieYear">
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017" selected>2017</option>
    </select>
    <i class="fas fa-caret-down"></i>
</div>