---
title: 2019
one: Parasite
two: 1917
three: The Irishman
four: Jojo Rabbit
five: Marriage Story
six: Toy Story 4
seven: Waves
eight: Knives Out
nine: Uncut Gems
ten: The Farewell
layout: './base.njk'
---

<div class="select">
    <select onchange="getYear()" id="movieYear">
        <option value="2020">2020</option>
        <option value="2019" selected>2019</option>
        <option value="2018">2018</option>
        <option value="2019">2017</option>
        <option value="2016">2016</option>
    </select>
    <i class="fas fa-caret-down"></i>
</div>