---
title: 2020
one: The Sound of Metal
two: The Vast of Night
three: Another Round
four: Soul
five: Hamilton
six: Tenet
seven: Judas and the Black Messiah
eight: Minari
nine: Nomadland
ten: The Trial of the Chicago 7
layout: './base.njk'
---

<div class="select">
    <select onchange="getYear()" id="movieYear">
        <option value="2020" selected>2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2019">2017</option>
    </select>
    <i class="fas fa-caret-down"></i>
</div>