body {
    font-family: 'Comfortaa';
}

h1 {
    color: #01627f;
    font-weight: 700;
    font-size: 5em;
}

.container {
    overflow-wrap: anywhere;
}

::selection {
    color: #fff;
    background: #D478A1;
  }

ul {
    display: flex;
    justify-content: space-between;
}

.animation, .grid {
    padding-top: 2.5em !important;
}

.animation h2 {
    color: #fff;
    text-shadow: 3px 3px 1px #01627f;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.grid h2 {
    color: #fff;
    text-shadow: 3px 3px 1px #000;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.fab {
    font-size: 2rem;
    color:#99AEBA;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-instagram:hover {
    color: #E1306C;
}

.fa-lastfm:hover {
    color: #d51007;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-strava:hover {
    color: #fc4c02;
}

.fa-map-marker-alt {
    position: absolute;
    font-size: 1.5em;
    color: #F70000;
    font-size: 1.3em;
    color: #F70000;
    left: -10px;
    top: -1px;
}