* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: #89D2F4;
}

section {
    background-color: #F3EBDC;
    border: 5px solid #F9CC8D;
    border-radius: 3px;
    box-shadow: 10px 10px #888888;
    margin: 0 auto;
    margin-top: 25px;
    width: 900px;
}

h2 {
    display: block;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.blur span {
  -webkit-transition: all 0.9s ease;
  -moz-transition:    all 0.9s ease;
  -o-transition:      all 0.9s ease;
  transition:         all 0.9s ease;
}
.blur span:hover {
  cursor: pointer;
  color: transparent;     
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -o-transition:      all 0.2s ease;
  transition:         all 0.2s ease; 
}
    
#one {
    color: blue;
    font: bold 72px 'Comic Sans MS';
}

#two {
    color: orange;
    font: bold 72px Tahoma;
}

#three {
  color: green;
  font: bold 72px Courier;
}

#four {
  color: red;
  font: bold 72px Verdana;
}

#one span:hover {
  text-shadow: 0 0 72px blue; 
}

#two span:hover {
  text-shadow: 0 0 72px orange; 
}

#three span:hover {
  text-shadow: 0 0 72px green; 
}

#four span:hover {
  text-shadow: 0 0 72px red; 
}