body {
    background-color: #63DC90;
}

#flex-box {
    font: 72px 'Comic Sans MS';
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    height: 600px;
    width: 1080px;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#flex-box div {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -o-transition: width 1s ease-out;        
    transition: width 1s ease-out;
    
    border: 6px solid #000;
    border-radius: 75px;
    box-shadow: 5px 5px #888;
    margin: 5px;
    width: 50px; 
}

#flex-box div:hover {
    width: 300px;
}

#flex-box div:nth-child(1) {
    color: #162EAE;
    background-color: #FF8500;
    text-shadow: 5px 5px #fff;
}

#flex-box div:nth-child(2) {
    background-color: #162EAE;
    color: #fff;
    text-shadow: 10px 5px #000;
}

#flex-box div:nth-child(3) {
    background-color: #00B945;
    color: #FF8500;
    text-shadow: 5px 5px #000;
}

#ben {
    -webkit-transition: -webkit-transform 2s ease-out;
    -moz-transition: -moz-transform 2s ease-out;
    -o-transition: -o-transform 2s ease-out;        
    transition: transform 2s ease-out;
}

#ben:hover {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#ben2 {
    -webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    -o-transition: -o-transform 1s ease-out;        
    transition: transform 1s ease-out;
}

#ben2:hover {
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

#ben3 {
    -webkit-transition: -webkit-transform 2s ease-out;
    -moz-transition: -moz-transform 2s ease-out;
    -o-transition: -o-transform 2s ease-out;        
    transition: transform 2s ease-out;
}

#ben3:hover {
    -ms-transform: skew(30deg, 30deg);
    -webkit-transform: skew(30deg, 30deg);
    transform: skew(30deg, 30deg);
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

h3 span {
    vertical-align: top;
    font-size: 50%;
}