/* SECTION-SPECIFIC STYLES */

body {
	background-color: #F3ECDD;
	color: #384747;
	font: 24px tahoma;
	margin: 0 auto;
	min-height: 640px;
	text-align: center;
	width: 1009px;
}

header {
	background-color: #95CB9C;
	border: 3px solid #384747;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
	color: #fff;
	font-size: 48px;
	margin: 10px;
	min-height: 104px;
	padding: 10px;
}

div.properties {
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	float: left;
	height: 225px;
	padding: 8px;
	width: 192px;
}

div#styled-text {
	background-color: #8CD3F4;
	text-align: left;
	width: 270px;
}

div#font {
	background-color: #F9CC8F;
	margin-left: 5px;
	width: 270px;
}

div#style {
	background-color: #8CD3F4;
}

div#weight {
	background-color: #F9CC8F;
	border-right: 3px solid #fff;
}

div#decorate {
	background-color: #F9CC8F;
	width: 200px;
}

div#transform {
	background-color: #8CD3F4;
	width: 210px;
}

div#shadow {
	background-color: #F9CC8F;
	width: 235px;
}

div#container {
	background-color: #8CD3F4;
	border-right: 3px solid #fff;
	width: 284px;
}

/* INPUT STYLES */

input, select, textarea {
	border-radius: 5px;
	font: 24px tahoma;
	margin-left: 10px;
}

input[type="color"] {
	margin-top: 5px;
	margin-left: -30px;
}

input[type="text"] {
	margin-bottom: 5px;
	width: 75px;
}

div#styled-text input {
	width: 400px;
}

div#styled-text label {
	width: 245px;
}

div#font input[type="color"] {
	margin-left: 0px;
}

label {
	display: inline-block;
	width: 140px;
	text-align: right;
}

label.color {
	text-align: center;
}

label[for="boxshadowcolor"] {
	
	margin-right: 5px;
}

label[for="size"], label[for="face"] {
	width: 40px;
}

/* LIST STYLES */

ul {
	list-style: none;
	margin-left: -30px;	
}

/* OTHER STYLES */

h1, h2, h3, h4, h5 {
	margin: 0px;
}

span.number {
	color: #fff;
	font-size: 72px;
	text-shadow: 5px 5px #888888;
}