/* SECTION-SPECIFIC STYLES */

body {
	background-color: #CBE596;
	color: #EDF5AD;
	font: 24px tahoma;
	margin: 0 auto;
	min-height: 640px;
	text-align: center;
	width: 850px;
}

header, footer, nav {
	background-color: #8CC495;
	border: 3px solid #384747;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 10px;
	vertical-align: middle;
}

header {
	background-color: #679472;
	color: #fff;
	margin-top: 10px;
}

nav {
	min-height: 30px;
}

#leftnav {
	float: left;
	display: inline-block;
}

#rightnav {
	 float: right;
	 display: inline-block;
}

article {
	background-color: #679472;
	border: 3px solid #384747;
	border-radius: 5px;
	float: left;
	margin-bottom: 5px;
	min-height: 550px;
	padding: 10px;
	width: 495px;
}

aside {
	background-color: #384747;
	border: 3px solid #384747;
	border-radius: 5px;
	height: 550px;
	margin-left: 525px;
	margin-bottom: 5px;
	padding: 10px;
	width: 300px;
}

aside div {
	margin-top: 25px;
}

aside h4 {
	margin-bottom: 10px;
	color: #fff;
}
aside h5, aside a {
	color: #fff;
}

section {
	background-color: #CBE596;
	border: 3px solid #384747;
	color: #384747;
	margin: 40px;
	padding: 10px;
}

section div {
	margin: 25px 40px;
	text-align: center; 
}

section h4 {
	margin-bottom: 10px;
}

div.box-model {
	border: 2px solid #fff;
}

/* INPUT STYLES */

input {
	border-radius: 5px;
	font: 24px tahoma;
	width: 200px;
}

input[type="submit"] {
	background-color: #8CC495;
	border-radius: 5px;
	color: #384747;
	font: 24px tahoma;
	font-weight: bold;
	margin-left: 100px;
	padding: 5px;
	width: 100px;
}

label {
	display: inline-block;
	width: 100px;
}

/* LIST STYLES */

ul {
	list-style: none;
	margin-left: -30px;
}

ul#css {
	list-style-type: square;
}

.small {
	font-size: 12px;
}

/* LINK STYLES */

a {
	color: #000;;
	text-decoration: none;
}

a:hover {
	color: #fff;;
	text-decoration: underline;
}



/* OTHER STYLES */

h1, h2, h3, h4, h5 {
	margin: 0px;
}

#text-properties {
	font-size: 40px;
}

#underline {
	text-decoration: underline;
}

#overline {
	text-decoration: overline;
}

#line-through {
	text-decoration: line-through;
}

#shadow {
	text-shadow: 5px 5px #ff0000;
}

#lowercase {
	text-transform: lowercase;
}

#uppercase {
	text-transform: uppercase;
}

#capitalize {
	text-transform: capitalize;
}