        body {
            background-image:url('../images/city.jpg');
            
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        div {
            
            font-family: 'Gill Sans Ultra Bold';
            font-size: 124px;
            color: #000;
        }
        
        #b,#e,#n,#c,#a,#r,#p,#e2,#n2,#t,#e3,#r2 {
            display: inline-block;
            cursor: pointer;
            padding: 0 5px 0 5px;
            
            -webkit-transition: -webkit-transform 5s ease-out;
            -moz-transition: -moz-transform 1s ease-out;
            -o-transition: -o-transform 1s ease-out;        
            transition: transform 1s ease-out;
        }
        
        #b:hover,#e:hover,#n:hover,#c:hover,#a:hover,#r:hover,#p:hover,#e2:hover,#n2:hover,#t:hover,#e3:hover,#r2:hover {
            color: #FF0066;
            
            -ms-transform: rotate(1800deg);
            -webkit-transform: rotate(1800deg);
            transform: rotate(360deg);
        }