body {
    background: #353535;
    color: #c4c4c4;
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.45;
    display: flex;
    flex-wrap: wrap;
}

.main-content {
    padding: 10%;
    flex: 1;
    min-height: 100vh;
}

.portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.portfolio-item {
    background: #f96855;
    color: #353535;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: top left;
    background-color: #353535;
    background-blend-mode: multiply;
    color: #c4c4c4;
    transition: background-color 1s linear;
}

.portfolio-item:hover {
    background-color: transparent;
}

.medium {
    grid-row: span 2;
    grid-column: span 2;
    background-image: url(https://picsum.photos/800);
}

.three {
    background-image: url(https://picsum.photos/801);
}

.large {
    grid-row: span 3;
    grid-column: span 3; 
    background-image: url(https://picsum.photos/802);
}

.small {
    grid-row: span 1;
    grid-column: span 1;
    background-image: url(https://picsum.photos/803);
}

.tall {
    grid-row: span 3;
    grid-column: span 2;
    background-image: url(https://picsum.photos/804);
}

.wide {
    grid-row: span 2;
    grid-column: span 3;
    background-image: url(https://picsum.photos/805);
} 